
{% extends "layout.html" %}
{% block content %}



<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}

p.ex1 {
  padding: 45px;
}
p.ex2 {
  padding: 15px;
}



</style>


<div style="width:100%;">
<div class="container-fluid">
  <h1 class="text-center">Group 6 Story</h1>
    <p class="text-center"> We Understand You.</p>
  <div class="container-fluid">
    <div class="row">
      <div class=" bg-info text-white">
          <p class="ex1">
          In Group 6, we believe there is a better way to do things. A more
          valuable, less invasive way where customers are earned rather than bought. We're obsessively passionate about it, and our mission is to help people achieve it.
          We focus on Intuitive Design philosophies It's one of the least understood and least transparent aspects of greatness, and we see that as an opportunity:
          We're excited to simplify Products for everyone through our software, education, and community.
          </p>
      </div>
      </div>
    </div>
    <div class="container-fluid">
    <div class="row">
<div class="col-sm-6 col-md-6 col-lg-6 bg-light text-dark">
    <br>


          <h2 class="text-center">Our Origins</h2>
    <p class = "ex1">
   Group 6 was founded by Kasper Poestzh, Augustas Jermala, George Adamson & Henrik Fuglsang in the fall of 2019. The Group was originally called 'Group 69 - nice', and started with like-minded individuals coming together to share their research and ideas.
        We launched this website and our first core functionalities along with it, now a hub of industry expertise transformed into a small group that led the complex world with new groundbreaking products.
    </p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 bg-light text-white">

          <div class="container">
            <p class="ex2"></p>
                <img src="static/harambe.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="66">

      </div>
    </div>
  </div>
</div>
   <br>
     <br>
     <br>
    <div style = "background-color:rgb(237,237,255);">
      <div class="container-fluid">
    <div class="row">
<div class="col-sm-6 col-md-6 col-lg-6 text-dark">



          <div class="container">
            <p class="ex2"></p>
                <img src="static/harambe.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="66">


      </div>
      </div>
    <div class="col-sm-6 col-md-6 col-lg-6 text-dark">
        <h2 class = "text-center">Early Growth</h2>
        <p class ='ex1'>
        After a glimpse of the demand, we shifted our focus from indivual tasks to system building, taking our first round of IoT devices in 2019 to power the development of new tools and ideas.
            By later that year, we tallied our first groundbreaking system designs and functionalities, continuing to lead the industry with our educational content in an effort to provide easy and simple IoT Devices that perform complex and adamantine routines.
        </p>
      </div>
    </div>
  </div>
</div>
       <br>
     <br>
     <br>
      <div class="container-fluid">
    <div class="row">
<div class="col-sm-6 col-md-6 col-lg-6 bg-light text-dark">
    <br>


          <h2 class="text-center">Our Strategy</h2>
    <p class = "ex1">
    A serious time investment from Group 6 propelled our efforts into the broader realm of inbound request and systems, a concept that rejects pushy sales in favor of attracting customers with real value.
    We acquired a meainingful analytics tool with Gantt-template as well as Trello, a hardhitter in planning as well as executing quality work.
    </p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 bg-light text-white">

          <div class="container">
            <p class="ex2"></p>
                <img src="static/harambe.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="66">

      </div>
    </div>
  </div>
</div>
    <br>
     <br>
     <br>
<div style = "background-color:rgb(237,237,255);">
      <div class="container-fluid">
    <div class="row">
<div class="col-sm-6 col-md-6 col-lg-6 text-dark">



          <div class="container">
            <p class="ex2"></p>
                <img src="static/harambe.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="66">


      </div>
      </div>
    <div class="col-sm-6 col-md-6 col-lg-6 text-dark">
        <h2 class="text-center">A New Leaf</h2>
        <p class="ex1">
       With our broader marketing efforts in full swing, Group 6 has been suprisingly busy working with futuristic design and systems.
            We released a suite of campaign-based products that included features for content, and brand management in addition to links and rankings.

        </p>
      </div>
    </div>
  </div>
</div>
        <br>
    <br>
         <div class="container-fluid">
    <div class="row">
<div class="col-sm-6 col-md-6 col-lg-6 bg-light text-dark">
    <br>
          <h2 class="text-center">To Infinity and Beyond!</h2>
    <p class = "ex1">
    With IoT Solutions being more important than ever, we made a difficult but necessary decision to gain insight into systems and intergration, shifting our strategy back to what we know best.
        We're making dramatic improvements to our core products and philosophies, and continue to push for transparency and a clear understanding of an otherwise complex field.
    </p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 bg-light text-white">

          <div class="container">
            <p class="ex2"></p>
                <img src="static/harambe.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="66">

      </div>
    </div>
  </div>
</div>
</div>

</div>
<br>
<br>

{% endblock content %}
