
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Flask Website - {{ title }}</title>
    {% else %}
        <title>Flask Website</title>
    {% endif %}
</head>

<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}

.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

.center {
  text-align: center;
  border: black;
}

</style>

<body>
<header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Flask Website</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.index') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('main.share') }}">Share</a>
              <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
              <div class="btn-group dropright">
  <button type="button" class="btn dropdown-toggle bg-steel nav-link"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Bike Functionalities
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url_for('map.displaymap') }}">Track Bikes</a>
    <a class="dropdown-item" href="{{ url_for('map.nearest_bike') }}">Find Nearest Bike</a>
    <a class="dropdown-item" href="{{ url_for('main.runaway') }}">SOS! Bike Runaway</a>
  </div>
</div>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
                <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Quick Bar</h3>
            <p class='text-muted'>Navigation Made Easy</p>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="{{ url_for('map.displaymap') }}" > Track Bikes</a></li>
                <li class="list-group-item list-group-item-light"><a href="{{ url_for('map.nearest_bike') }}" >Find Nearest Bike </a></li>
                <li class="list-group-item list-group-item-light"><a href="{{ url_for('main.runaway') }}" > SOS! Bike Runaway</a></li>
                  <li class="list-group-item list-group-item-light"><a href=" {{ url_for('Webstatistics.mainstatistics') }}" > Statistics </a></li>
                <li class="list-group-item list-group-item light"><a href="{{url_for('main.adminTeam') }}" >Contact Admin team </a></li>
              </ul>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<br>
    <br>
    <!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #51087E;">
    <div class="container">
        <div class="center">
  <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-left"></i>To the top</a>
        </div>
        <div class="center">
  <div class="w3-xlarge w3-section">
    <a href="http://www.facebook.com"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="http://www.instagram.com"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="http://www.snapchat.com"><i class="fa fa-snapchat w3-hover-opacity"></i></a>
    <a href="http://www.pinterest.com"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>
    <a href="http://www.twitter.com"><i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="http://www.linkedin.com"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  </div>
</div>
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Group 6</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Group 6 Wishes you a happy browsing experience on this groundbreaking Website. Do not be afriad to contact
        us or send business inquiries.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="{{ url_for('map.displaymap') }}">Bike Tracker - Track A Bike</a>
        </p>
        <p>
          <a href="{{ url_for('map.nearest_bike') }}">Find Nearest Bike</a>
        </p>
        <p>
          <a href="{{ url_for('main.runaway') }}">SOS - Runaway Bikes</a>
        </p>
        <p>
          <a href="{{ url_for('Webstatistics.mainstatistics') }}">Statistics About Bikes</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="{{ url_for('users.account') }}">Your Account</a>
        </p>
        <p>
          <a href="{{ url_for('users.register') }}">Register An Account</a>
        </p>
        <p>
          <a href="{{ url_for('posts.new_post') }}">Share Your Experience</a>
        </p>
        <p>
          <a href="{{ url_for('main.adminTeam') }}">Contact Developer/Admin Team</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Sønderhøj 30. 8260 Viby J - Denmark</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> group.si6x@gmail.com </p>
        <p>
          <i class="fas fa-phone mr-3"></i><a href ="{{url_for('main.adminTeam') }}"> Meet the Team </a>  </p>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->

</body>
</html>
